.user-shifts-container {
  background-color: #f7f7f7ba;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  size: 9px;
}

.group-container {
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}

.group-name {
  cursor: pointer;
  color: rgb(194, 126, 126);
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}



.shift-table {
  width: 100%;
  border-collapse: collapse;
}

.shift-table th,
.shift-table td {
  border: 1px solid #0c0b0b34;
  padding: 10px;
  text-size-adjust: smaller;;
  text-align: center;
}

.shift-table th {
  background-color: #3498db;
  color: rgb(57, 43, 43);
}

.green-row {
  background-color: #b9e87b;
  color: white;
}

.red-row {
  background-color: #f67f72;
  color: white;
}

.validation-text {
  font-weight: bold;
}

.green-text {
  color: #ffffff;
}

.red-text {
  color: #ffffff;
}
