/* User Shifts Container */
.user-shifts-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Group Container */
.group-container {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
}

.group-name {
  font-size: 20px;
  cursor: pointer;
}

.group-name.expanded::before {
  content: '▼ ';
}

/* User Rows */
.user-row {
  padding: 10px;
  margin: 10px 0;
  border: 8px solid #ccc;
}

/* User Validated */
.user-validated {
  background-color: #e6ffe6;
}

/* User Not Validated */
.user-not-validated {
  background-color: #ffcccc;
}

/* Shifts Table */
.shifts-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc; /* Improved table border */
}

.shifts-table td {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Smaller text size */
}

/* Validation Status */
.status-cell {
  text-align: center;
}

.validated-status.green {
  color: green;
}

.validated-status.red {
  color: red;
}

/* Table Titles */
.user-info-title {
  font-weight: bold;
  color: blue;
}

.shifts-title {
  font-weight: bold;
  color: blue;
}

.status-title {
  font-weight: bold;
  color: blue;
}

/* Table Date Format */
.date-format {
  font-family: monospace;
}
/* CSS styles with custom class names */
.button-group {
  text-align: center;
  margin-bottom: 20px; /* Add some spacing between buttons and content */
}

.custom-button {
  margin: 5px; /* Add spacing between the buttons */
  padding: 10px 20px;
  background-color: #36D7B7; /* Background color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.custom-button:hover {
  background-color: #219f8d; /* Hover color */
}
